<!-- <% layout('layouts/boilerplate')%>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="<%= campground.image %>" alt="picture" />
<p><%= campground.description %></p>
<p>$<%= campground.price %></p>
<p>
  <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
</p>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
  <button type="submit">DELETE</button>
</form>
<footer>
  <a href="/campgrounds">All Campgrounds</a>
</footer> -->
<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%= campground.image %>" alt="picture" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <ul class="list-group">
          <li class="list-group-item text-muted"><%= campground.location %></li>
          <li class="list-group-item">$<%= campground.price %>/night</li>
        </ul>
        <!-- <p class="card-text"><%= campground.description %></p>
        <p class="card-text">$<%= campground.price %>/night</p> -->
      </div>
      <div class="card-body">
        <a
          href="/campgrounds/<%= campground._id %>/edit"
          class="card-link btn btn-info"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="post"
        >
          <button type="submit" class="card-link btn btn-danger">DELETE</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        <a href="/campgrounds">All Campgrounds</a>
      </div>
    </div>
  </div>
</div>
